* {
  box-sizing: border-box;
 
}
:root {
  line-height: 1.5;
  font-weight: 400;
  color: #213547;
  background-color: #ffffff;
  
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
button {
  font-family: inherit;
  font-weight: 500;
}


html {
  overflow-x: hidden; /* Solo oculta el scroll horizontal */
  height: 100%;
}
body{
  /* overflow: hidden; *//* Removed to allow full width */
  font-family: 'Open Sans', sans-serif;
}
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

html {
  scroll-behavior: smooth;
}